.right-to-left {
  animation: RtLMarqueeScroll 80s linear infinite;
}
.left-to-right {
  animation: LtRMarqueeScroll 80s linear infinite;
}

@keyframes RtLMarqueeScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes LtRMarqueeScroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.comment {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
