.layout {
  max-width: 1536px;
  margin: 0 auto;
}

.payment input:-webkit-autofill {
  background-color: rgba(0, 0, 0, 0.05) !important;
  color: black !important;
  -webkit-text-fill-color: black !important;
  box-shadow: 0 0 0 0 transparent !important;

  transition: background-color 9999s ease-in-out 0s;
}

.payment .dark input:-webkit-autofill {
  background-color: rgba(255, 255, 255, 0.05) !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0 0 transparent !important;

  transition: background-color 9999s ease-in-out 0s;
}

.checkout-checkbox span {
  display: flex;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
.dark .checkout-checkbox span {
  background-color: rgb(9, 16, 15);
  border: 1px solid rgb(115, 137, 135);
}

.checkout-checkbox input:checked + span {
  background-color: rgb(168, 40, 248);
  border: 1px solid transparent;
}
.dark .checkout-checkbox input:checked + span {
  background-color: rgb(0, 182, 173);
  border: 1px solid transparent;
}

.checkout-checkbox input:checked + span:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
}

.checkout span {
  transition: all 0.3s ease-in-out;
}
.checkout:hover span {
  margin-left: 15px;
}

.order-summary::-webkit-scrollbar {
  width: 6px;
}

.order-summary::-webkit-scrollbar-track {
  background-color: rgb(209, 209, 209);
}
.dark .order-summary::-webkit-scrollbar-track {
  background-color: rgb(14, 16, 9);
}

.order-summary::-webkit-scrollbar-thumb {
  background-color: rgb(150, 150, 150);
  border-radius: 10px;
}
.dark .order-summary::-webkit-scrollbar-thumb {
  background-color: rgb(46, 49, 51);
}
