.header {
  z-index: 30;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 125rem;
  margin: 0 auto;
  box-sizing: border-box;
  height: 60px;
  color: rgb(215, 215, 215);
}

.animation-shake {
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.login-btn {
  font-weight: 700;
  border: none;
  padding: 4px 20px;
  border-radius: 6px;
}
.login-btn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}

.cart {
  position: relative;
}

.cart p {
  position: absolute;
  top: -4px;
  right: -4px;
  font-size: 0.75rem;
  padding: 1px 5px;
  font-weight: 600;
  border-radius: 8px;
}
