.foot-link li {
  font-size: 14px;
  line-height: 40px;
  padding-right: 12px;
  cursor: pointer;
}

.privacy p {
  margin-left: 20px;
  transition: all 0.3s;
}
.privacy p:hover {
  text-decoration: underline;
  cursor: pointer;
}
