.dark .stats {
  animation: textColorChange 10s linear infinite;
}
.stats {
  animation: textColorChange2 10s linear infinite;
}
@keyframes textColorChange {
  0%,
  100% {
    color: white;
  }
  50% {
    color: rgb(0, 255, 241);
  }
}
@keyframes textColorChange2 {
  0%,
  100% {
    color: black;
  }
  50% {
    color: rgb(0 171 102);
  }
}

.dark .royalty {
  animation: glow 3s infinite;
}
.royalty {
  animation: glow2 3s infinite;
}
@keyframes glow {
  0%,
  100% {
    text-shadow: 0 0 5px rgb(0, 255, 242);
  }
  50% {
    text-shadow: 0 2px 20px rgb(0, 255, 242);
  }
}
@keyframes glow2 {
  0%,
  100% {
    text-shadow: 0 0 3px black;
  }
  50% {
    text-shadow: 0 2px 10px black;
  }
}
